.contact {
  background-color: #2d848a;
  padding: 15vmin;
  .contact-content {
    margin: auto;
    max-width: 1124px;

    .contact-header {
      color: white;
      text-align: center;
      h3 {
        font-size: 4.5vmin;
      }
      p {
        margin-top: 2vmin;
        margin-bottom: 8vmin;
      }
    }
    .contact-form {
      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3vmin;

        .textfild-1 {
          grid-column: 1 span;
        }
        .textfild-2 {
          grid-column: 1 span;
        }

        .textfild-3 {
          grid-column: 2 span;
        }

        .btn {
          border: solid;

          color: whitesmoke;
          min-width: 160px;
          padding: 14px 36px;
          background-color: transparent;
          box-shadow: none;
          border-width: 0.1rem;
        }
      }
    }
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: white;
  }
  .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: white !important;
  }
}



/* Portrait phones */
@media screen and (min-width: 667px) {
}
/* Phones */
@media screen and (max-width: 767px) {
  .contact {
    padding: 8rem 1rem;
     .contact-content {
      .contact-header{
        h3 {
          font-size: 4.5vmin;
      }
      p{
        margin-top: 7vmin;
        font-size: 3.8vmin;
      }
      }
     } 
     
  }
  
}
/* Tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
