.tours-content {
  margin-top: 7rem;
  p:first-of-type {
    color: #151515;
    font-size: 1rem;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    letter-spacing: normal;
    color: #151515;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 4rem;
  }
}

/* Portrait phones */
@media screen and (min-width: 667px) {
}
/* Phones */
@media screen and (max-width: 767px) {
 
}
/* Tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tours-content {
    margin-top: 14rem;
  }
}
